<!DOCTYPE html>
<html lang="en" ng-app="NgTableApp">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>NgTable</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="/ng-table/dist/ng-table.min.css">
    </head>
    <body>
        <div ng-controller="EmployeeController">
            <table ng-table="tableParams" class="table table-striped" show-filter="true">
                <tr ng-repeat="employee in $data">
                    <td data-title="'employee.firstname' | translate" filter="{'firstname' : 'text'}" sortable="'firstname'"><a ui-sref="employee.detail({id:employee.id})">{{employee.firstname}}</a></td>
                    <td data-title="'employee.lastname' | translate" filter="{lastname : 'text'}" sortable="'lastname'">{{employee.lastname}}</td>
                    <td data-title="'employee.mail' | translate" filter="{mail : 'text'}" sortable="'mail'">{{employee.mail}}</td>
                    <td data-title="'employee.phone-number' | translate" filter="{phone_number : 'text'}" sortable="'phone_number'">{{employee.phone_number}}</td>
                    <td data-title="'employee.birthdate' | translate" filter="{birthdate : 'text'}" sortable="'birthdate'">{{employee.birthdate}}</td>
                </tr>
            </table>
        </div>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.js"></script>
        <script src="/ng-table/dist/ng-table.js"></script>
        <script src="/js/controllers/MainCtrl.js"></script>
        <script src="/js/factories/TableFactory.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>